[Unit]
Description=Check connectivity

[Service]
Type=simple
User=rock
Group=rock
ExecStart=/bin/bash /home/rock/OrangeBox/scripts/check_connectivity.sh
